body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: palegreen;
    color: green;
}

.container {
    margin-top: 50px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: greenyellow;
}
